<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="module_name_parser.class">Pablodip\ModuleBundle\Module\ModuleNameParser</parameter>
        <parameter key="module_manager.class">Pablodip\ModuleBundle\Module\ModuleManager</parameter>
        <parameter key="routing.loader.module_file.class">Pablodip\ModuleBundle\Routing\ModuleFileLoader</parameter>
        <parameter key="routing.loader.module_directory.class">Pablodip\ModuleBundle\Routing\ModuleDirectoryLoader</parameter>
        <parameter key="twig.extension.module.class">Pablodip\ModuleBundle\Twig\ModuleExtension</parameter>
    </parameters>

    <services>
        <service id="module_name_parser" class="%module_name_parser.class%">
            <argument type="service" id="kernel" />
        </service>

        <service id="module_manager" class="%module_manager.class%">
            <argument type="service" id="service_container" />
            <argument type="service" id="module_name_parser" />
        </service>

        <service id="routing.loader.module_file" class="%routing.loader.module_file.class%">
            <tag name="routing.loader" />
            <argument type="service" id="file_locator" />
            <argument type="service" id="module_manager" />
        </service>

        <service id="routing.loader.module_directory" class="%routing.loader.module_directory.class%">
            <tag name="routing.loader" />
            <argument type="service" id="file_locator" />
            <argument type="service" id="module_manager" />
        </service>

        <service id="twig.extension.module" class="%twig.extension.module.class%" public="false">
            <tag name="twig.extension" />
            <argument type="service" id="module_manager" />
        </service>
    </services>

</container>
